.about {
  max-width: 1302px;

  padding: 0 15px;
  display: flex;
  margin: 0 auto;
  gap: 0 108px;

  .arrow {
    margin-top: -74px;
    margin-left: 300px;
    width: 228px;
    height: 100px;
    flex-shrink: 0;
    fill: none;
    stroke: #c0b7e8;
  }
}
.bg1 {
  position: absolute;
  z-index: -1;
  top: 200px;
  max-width: 90%;
}
.bg2 {
  position: absolute;
  z-index: -1;
  top: 480px;
  max-width: 90%;
}
.introduction__title,
.about__title {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
.introduction__text,
.about__text {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.introduction__img {
  margin-top: 100px;
  max-width: 80%;
  max-height: 80%;
}
.introduction__text1 {
  margin: 0;
}
.about__button {
  padding: 17px 47px 16px 39px;
  border: 0;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #000;
  transition: all ease-in-out 0.3s;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  &:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    transform: scale(1.1);
  }
}
.about__text {
  margin-bottom: 42px;
}
.about__text1 {
  margin-bottom: 28px;
}
.about__title {
  margin-top: 150px;
}
.container {
}
@media (max-width: 1024px) {
  .about__title {
    margin-top: 50px;
  }
}
@media (max-width: 900px) {
  p {
  }
  .bg1,
  .bg2 {
    display: none;
  }
  .about {
    gap: 0 0;
  }
  .about__title {
    margin-top: 15px;
  }
  .about__text {
    margin-bottom: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .introduction__img {
  }
  .arrow {
    width: 200px;
  }
  .about__text1 {
    height: 220px;
    overflow: auto;
  }
  .introduction__text1 {
    height: 90px;
    overflow: auto;
  }
}
@media screen and (max-width: 764px) {
  .about {
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .introduction__text1,
  .about__title,
  .about__text,
  .arrow,
  .bg1,
  .bg2 {
    display: none;
  }
  .about {
    flex-direction: column;
    align-items: center;
  }
  .introduction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .introduction__img {
    margin-top: 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .about__button {
    text-align: center;
  }
}
@media screen and (max-width: 520px) {
  .arrow {
    display: none;
  }
}
