@import '~node_modules/modern-normalize/modern-normalize.css';
body{
    max-width: 1440px;
    background: #302C42;
}
*{
    color:#FFFFFF;
    font-family: Montserrat, 'serif';
}

input{
    &::placeholder{
        padding: 42px;
    }
}
