@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  max-width: 1440px;
  background: #302C42;
}

* {
  color: #FFFFFF;
  font-family: Montserrat, "serif";
}

input::-moz-placeholder {
  padding: 42px;
}

input::placeholder {
  padding: 42px;
}

.join {
  display: flex;
  background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
  justify-content: space-between;
  align-items: center;
  max-width: 1275px;
  height: 1008px;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 40px;
}
.join .join__h2 {
  text-align: center;
  max-width: 238px;
  height: 44px;
  font-size: 36px;
  font-weight: 700;
}
.join .join__h2:after {
  content: "";
  display: inline-block;
  width: 414px;
  height: 0;
  border-color: linear-gradient(270deg, #343045 0%, #C0B7E8 34.9%, #8176AF 68.75%, #343045 100%);
  border: 1px solid;
  border-image-source: linear-gradient(270deg, #343045 0%, #C0B7E8 34.9%, #8176AF 68.75%, #343045 100%);
  border-image-slice: 1;
  margin-left: -90px;
}
.join .join__text {
  text-align: center;
  max-width: 541px;
  height: 44px;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
  margin-top: 20px;
}
.join .join__input {
  width: 524px;
  height: 72px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
}
.join .join__input:focus {
  outline-color: #343045;
}
.join .join__input__Subject {
  width: 1058px;
  height: 72px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
}
.join .join__input__Subject:focus {
  outline-color: #343045;
}
.join .join__input__Something {
  width: 1058px;
  height: 210px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
}
.join .join__input__Something:focus {
  outline-color: #343045;
}
.join .join__button {
  border: 0;
  width: 214px;
  height: 48px;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  color: #000;
  transition: all ease-in-out 0.3s;
  margin-bottom: 20px;
}
.join .join__button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1051px) {
  .join__input {
    max-width: 424px;
  }
  .join__input::-moz-placeholder {
    padding: 21px;
  }
  .join__input::placeholder {
    padding: 21px;
  }
  .join__input__Subject {
    max-width: 864px;
  }
  .join__input__Subject::-moz-placeholder {
    padding: 21px;
  }
  .join__input__Subject::placeholder {
    padding: 21px;
  }
  .join__input__Something {
    max-width: 864px;
  }
  .join__input__Something::-moz-placeholder {
    padding: 21px;
  }
  .join__input__Something::placeholder {
    padding: 21px;
  }
}
@media screen and (max-width: 425px) {
  .join {
    margin: unset;
    padding: unset;
  }
  div {
    width: 300px;
    height: 150px;
  }
  .join__input {
    max-width: 300px;
    height: 53px;
  }
  .join__input::-moz-placeholder {
    padding: 29px;
  }
  .join__input::placeholder {
    padding: 29px;
  }
  .join__input__Subject {
    max-width: 300px;
    height: 53px;
  }
  .join__input__Subject::-moz-placeholder {
    padding: 29px;
  }
  .join__input__Subject::placeholder {
    padding: 29px;
  }
  .join__input__Something {
    max-width: 300px;
    height: 53px;
  }
  .join__input__Something::-moz-placeholder {
    padding: 29px;
  }
  .join__input__Something::placeholder {
    padding: 29px;
  }
}
@media screen and (max-width: 425px) {
  .join__h2::after {
    max-width: 425px;
  }
}
@media screen and (max-width: 375px) {
  .join__h2::after {
    max-width: 390px;
  }
}
@media screen and (max-width: 320px) {
  .join__h2::after {
    max-width: 365px;
  }
}/*# sourceMappingURL=index.css.map */