<footer>
  <svg class="footer__logo">
    <use href="./images/symbol-defs24.svg#icon-VectorHydra"></use>
  </svg>
  <div class="footer__info">
    <hr class="footer__info__hr" />
    <ul class="footer__info__ul">
      <li><a class="footer__info__link" href="#about">ABOUT</a></li>
      <li><a class="footer__info__link" href="#services">SERVICES</a></li>
      <li>
        <a class="footer__info__link" href="#technologies">TECHNOLOGIES</a>
      </li>
      <li><a class="footer__info__link" href="#how to">HOW TO</a></li>
      <li><a class="footer__info__link" href="#join">JOIN HYDRA</a></li>
    </ul>
  </div>
  <div class="footer__faq">
    <hr class="footer__faq__hr" />
    <ul class="footer__faq__ul">
      <li><a class="footer__faq__link" href="#">F.A.Q</a></li>
      <li><a class="footer__faq__link" href="#">SITEMP</a></li>
      <li><a class="footer__faq__link" href="#">CONDITIONS</a></li>
      <li><a class="footer__faq__link" href="#">LICENSES</a></li>
    </ul>
  </div>
  <hr class="footer__social__hr" />

  <div class="footer__social">
    <p class="footer__social__text">SOCIALIZE WITH HYDRA</p>
    <ul class="footer__social__ul">
      <li>
        <a class="footer__social__link" href="https://www.facebook.com/">
          <svg class="footer__social__svg">
            <use href="./images/symbol-defs24.svg#icon-facebookicons"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer__social__link" href="#">
          <svg class="footer__social__svg">
            <use href="./images/symbol-defs24.svg#icon-twittericons"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer__social__link" href="#">
          <svg class="footer__social__svg">
            <use href="./images/symbol-defs24.svg#icon-instagramicons"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer__social__link" href="#">
          <svg class="footer__social__svg">
            <use href="./images/symbol-defs24.svg#icon-youtubeicons"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer__social__link" href="#">
          <svg class="footer__social__svg">
            <use href="./images/symbol-defs24.svg#icon-pinteresticons"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer__social__link" href="#">
          <svg class="footer__social__svg">
            <use href="./images/symbol-defs24.svg#icon-linkedinicons"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="footer__social__button">BUILD YOUR WORLD</button>
  </div>
</footer>
<div class="footer__copyright">
  <hr class="footer__copyright__hr" />
  <p class="footer__copyright__text">
    2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED
  </p>
</div>
