   <section class="join">
        <h2 class="join__h2">JOIN HYDRA</h2>
        <p class="join__text">Let’s Build Your VR Experience</p>
        <div class="join__div__input1">
            <input class="join__input" type="text" placeholder="First Name">
            <input class="join__input" type="text" placeholder="Last Name">
        </div>
        <div class="join__div__input2">
            <input class="join__input" type="text" placeholder="Email">
            <input class="join__input" type="text" placeholder="Phone Number">
        </div>

        <input class="join__input__subject" type="text" placeholder="Subject">
        <input class="join__input__something" type="text" placeholder="Tell Us Something">
        <button class="join__button">Send to Hydra</button>
    </section>
</html>