<section class="about" id="about">
    <div class="introduction">
        <h2 class="introduction__h2">INTRODUCTION</h2>
        <p class="introduction__text">TO HYDRA VR</p>
        <svg class="introduction__arrow">
            <use href="./images/symbol-defs24.svg#icon-Component-1arrow"></use>
        </svg>
        <img class="introduction__img" src="./images/Mask groupfin.png" alt="VR">
    </div>
    <section class="hydra">
        <p class="hydra__text">Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</p>
        <h2 class="hydra__h2">ABOUT</h2>
        <p class="vr__text">HYDRA VR</p>
        <p class="vr__info">Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus 
            urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida 
            dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. 
            Mattis aliquam faucibus purus in massa. Est placerat in egestas erat imperdiet 
            sed. Consequat semper viverra nam libero justo laoreet sit amet. Aliquam 
            etiam erat velit scelerisque in dictum non consectetur a. Laoreet sit amet 
            cursus sit amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha
            retra diam sit amet nisl suscipit adipiscing bibendum. Leo a diam sollicitudi
            n tempor.</p>
        <button class="vr__button">LET’S GET IN TOUCH</button>
    </section>
</section>