    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <div class="tech-section">
      <div class="mask-group">
        <img class="glass-img" src="./images/Mask groupmask.group.png" alt="" />
        <div class="img-text">
          <h1 class="main-text">TECHNOLOGIES & HARDWARE</h1>
          <h2 class="secondary-text">USED BY HYDRA VR.</h2>
          <div class="scroll-down">
            <div class="down">
              <img class="arrow-down" src="./images/arrow-down.png" alt="arrow" />
            </div>
          </div>
        </div>
        <div class="img-group">
          <img class="img-logo-1" src="./images/Hydra-Tech1 1.png" alt="" />
          <img class="img-logo-2" src="./images/Hydra-Tech3 1.png" alt="" />
          <img class="img-logo-3" src="./images/Hydra-Tech2 1.png" alt="" />
          <img class="img-logo-4" src="./images/Hydra-Tech4 1.png" alt="" />
        </div>
      </div>
    </div>
